{% extends "base.html" %}

{% block content %}
<table class="table">
    <thead>
        <tr>
            <th>Tên hàng hóa</th>
            <th>Giá mua</th>
            <th>Giá bán</th>
            <th>Số lượng trong kho</th>
            <th>Số lượng đã bán</th>
            <th>Giảm giá </th>
            <th>Thao tác</th>
            
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
            <td>{{ product.name }}</td>
            <td>{{ product.price_purchase }}</td>
            <td>{{ product.price_selling }}</td>
            <td>{{ product.quantity_left }}</td>
            <td>{{ product.quantity_sold }}</td>
            <td>{{ product.discount }}</td>
            <td>
            
                <a href="{% url 'edit_product' product.id %}" class="btn btn-info btn-sm">Sửa</a>
                <a href="{% url 'delete_product' product.id %}" class="btn btn-danger btn-sm">Xóa</a>
                
                
            </td>
            
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="text-end me-3">
    <p><strong>Tổng doanh thu:</strong> {{ total_revenue }}</p>
    <p><strong>Tổng lợi nhuận:</strong> {{ total_profit }}</p>
</div>

{% endblock content %}